{% extends "base.html" %}
{% load bootstrap5 %}

{% block conteudo %}
  <h2>Lista de Agendamentos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Endereço</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Observação</th>
      </tr>
    </thead>
    <tbody>
      {% for a in agendamentos %}
        <tr>
          <td>{{ a.nome }}</td>
          <td>{{ a.email }}</td>
          <td>{{ a.endereco }}</td>
          <td>{{ a.data }}</td>
          <td>{{ a.hora }}</td>
          <td>{{ a.observacao }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">Nenhum agendamento encontrado.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}